<%= form_for @prompt do |f|%>
  <%= f.label "What is the text of the prompt?"%>
  <%= f.text_area :text %>
  <div id="collection_of_checkboxes">
    <%= f.collection_check_boxes(:category_ids, Category.order('lower(label) ASC'), :id, :label) do |b| %>
      <%= b.label class: "checkbox_label" do %>
        <%=b.check_box + b.text%>
      <% end %>
    <% end %>
  </div>
  <br>
  <%= f.submit ( f.object.new_record? ? "Create" : "Update"), :class => 'category button round' %>
<% end %>