<div class="row">
  <div class="large-12 columns">
    <div class="error">
      <%=flash[:error]%>
      <br>
    </div>
    <%= form_for @prompt do |f|%>
      <%= f.label "What is the text of the prompt?"%>
      <%= f.text_area :text %>
      
      <%= f.collection_check_boxes(:category_ids, Category.order('lower(label) ASC'), :id, :label) %>
      <br>
      <%= f.submit "Create", :class => 'category button round' %>
    <% end %>
  </div>
</div>
