<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Feed the Bunny" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
  </head>

  <body>
		<%= yield %>
   	<%= javascript_include_tag "application" %>
  </body>

  <footer> <p>Feel free to submit prompts for inclusion in this app to my <a href="http://scarletalphabet.tumblr.com/ask" target="_blank">tumblr ask box</a> or my <a href="http://scarletalphabet.tumblr.com/submit" target="_blank">tumblr submit form</a>.  Anonymous asks are welcome.</p>
  </footer>
</html>